main {
    z-index: 0;
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/contact-us-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
    top: -5vh;
    margin-bottom: -5vh;
}

main h1 {
    color: var(--color-secondary);
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    background: rgba(8, 42, 64, 0.45);
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.contact-div {
    width: 100%;
}

form label {
    display: flex;
    margin-bottom: 5px;
    width: 100%;
    color: whitesmoke;
    font-size: large;
    font-weight: 600;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 90%;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
}

form button {
    background: rgba(8, 42, 64, 0.9);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

footer {
    text-align: center;
    background: #333;
    color: white;
}

footer p {
    padding: 10px;
    margin: 0;
}

footer a {
    color: var(--color-secondary);
}

footer a:hover {
    text-decoration: underline;
}



form button:hover {
    background: rgba(12, 59, 90, 0.8);
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: all 0.3s ease;
    margin-bottom: 50px;
}

table caption {
    font-weight: bold;
    font-size: 2.25rem;
    color: white;
    margin-bottom: 10px;
    background-color: rgba(8, 42, 64);
    border-radius: 5px;
    padding: 5px 0px;
}

th,
td {
    padding: 8px;
    text-align: left;
    background: #ddd;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}

th {
    background: var(--color-primary);
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.delete {
    padding: 5px 10px;
    background-color: var(--color-secondary);
    border-radius: 5px;
    color: white;
    font-size: medium;
    font-weight: 600;
    outline: none;
    border: none;
}

.delete:hover {
    background-color: #7caf39;
}

.alert-success {
    color: var(--color-secondary);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
}

@media (max-width: 850px) {

    li a {
        font-size: small;
    }

    .navbar-logo img{
        width: 50px;
    }

    .extended-header {
        height: 15vh;
    }

    .page-links ul li a {
        font-size: 1.3rem;
    }

    .social-links ul li:first-child {
        font-size: 1.7rem;
        line-height: 1.5rem;
        padding: 5px 15px;
        text-align: center;
    }

    main h1 {
        font-size: 1.5rem;
    }

    form {
        width: 30%;
        padding: 15px 30px;
    }

    form label {
        font-size: medium;
    }

    form input[type="text"],
    form input[type="email"],
    form textarea {
        padding: 5px 10px;
        margin-bottom: 5px;
    }

    form button {
        margin-top: 10px;
        font-size: medium;
    }

    
}